*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px 100px; */

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
/* .logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    border: 2px solid #fff;
    /* image-rendering: url(Logoimg.png) no-repeat; */
 */
.logo-image{
   
    
    padding-top:10px;
    display: flex;
    
    
   
    
    
}
.img-fluid{
    width: 200px;
    height: 80px;
    position: relative;
    padding-left: 5px;
    margin-top: 5px;
     
}
    


.navigation{
    padding: 20px 100px;
}
.navbar-brand{
    border: 2px;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;

}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnloggin-popup{
    width: 130px;
    height: 50px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnloggin-popup:hover{
    background: white;
    color: blue;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.wrapper .form-box_Login{
    width: 100%;
    padding: 40px;

}
.form-box_Login h2 {
    font-size: 2em;
    color:rgb(39, 37, 37) ;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(34, 34, 34);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #292727;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
/* make this right */
.input-box input:valid~label{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162918;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162918;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #162918;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content:space-between;
    
}
.remember-forgot label input{
    accent-color: #162918;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162918;
    text-decoration:none ;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #262926;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register p{
    font-size: .9em;
    color: #162918;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}
.login-register p a{
    color: #162918;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.searchbar{
    display: flex;
    align-items: center;
    
   
    
    min-height: 100%;
    
    /* sdcn */
    background-color: rgb(255, 255, 255);
    border-radius: 50px;

}
.dropdown{
    position: relative;
    width: 100%;
    background-color: rgb(43, 37, 43);
    border: 1px solid rgb(240, 237, 237);
    border-radius: 50px;
    box-shadow: 20px;
    cursor: pointer;
}
.dropdown_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 500;
    color:white;
    padding: 1rem 1.5rem;
}
.dropdown_list{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height:0 ;
    overflow: scroll;
    background-color: rgb(70, 66, 66);
    transition:max-height 0.5s;
    

}
#list.show{
    max-height: 280px;
}
.dropdown-list-item{
    font-size: .9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
    color: rgb(255, 255, 255);
}
.dropdown-list-item:hover{
    margin-left: .5rem;
    color: rgb(252, 252, 252);

}
.search_box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: rgb(17, 10, 17);

}
.search_box input{
    padding: 1rem;
    width: 500px;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
}
.search_box ion-icon{
    font-size: 1.3rem;
    cursor: pointer;
}
.search_box input::placeholder{
    font-size: 1rem;
    font-weight:500;
    color: rgb(90, 87, 90);

}
::-webkit-scrollbar{
    width: 10px;


}
::-webkit-scrollbar-track{
    background: #4e535a;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background:#161a16;
    border-radius: 30px;
    
}
::-webkit-slider{
    background: #fff;
}

/* .full-page{
    display: table-row;
    
    min-height: 100vh;
    
    justify-content: center;
    align-items: center;
    border: 2px solid;
    margin-top: 0;

}
.file-upload{
    display: table-row;
    width: 100%;
    margin-top: 10px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

} */
#one{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }

 #two{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .scroll-down{
    border: 2px solid black;
    height: 50px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50PX;
    cursor: pointer;
    
 }
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2PX solid black;
    height: 10px;
    width: 10px;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down infinite 1s;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }

}

/* ::selection{
    color: #fff;
    background: #6990F2;
  }
  .uploader{
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  }
  .uploader header{
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
  }
  .uploader form{
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
  }
  form :where(i, p){
    color: #6990F2;
  }
  form i{
    font-size: 50px;
  }
  form p{
    margin-top: 15px;
    font-size: 16px;
  }
  
  section .row{
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .row i{
    color: #6990F2;
    font-size: 30px;
  }
  section .details span{
    font-size: 14px;
  }
  .progress-area .row .content{
    width: 100%;
    margin-left: 15px;
  }
  .progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
  }
  .progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
  }
  .uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
  }
  .uploaded-area.onprogress{
    max-height: 150px;
  }
  .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .uploaded-area .row .content{
    display: flex;
    align-items: center;
  }
  .uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .uploaded-area .row .details .size{
    color: #404040;
    font-size: 11px;
  }
  .uploaded-area i.fa-check{
    font-size: 16px;
  } */